@import url(http://fonts.googleapis.com/css?family=Merriweather);
 
html, body {
  font-family: 'Merriweather', sans-serif;
}


.homebody{
   background-color: #0075c4;  
}

.intro{
	 color: #fefefe; 
	text-shadow:  1px 2px #000000;
}
.intro p{
 font-size: 15px;
 margin:20px 0px 20px 0px;
}

.homeadd{
	margin:20px 0px 20px 0px;
}


 .bold{
 	font-weight: bold;
 }


 